.ytre-main-container {
    display: flex;
    flex-direction: column;
}

.indre-main-container {
    display: flex;
    flex-direction: row;
    min-height: 600px;
}



/*TODO: fjern denne?*/
.navds-table__expanded-row-content {
    padding: 0!important;
}
