.søkefelt-container {
    width: 500px;
    padding: 20px;
}

.søkefelt-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.anonymiser-checbox-group {
    margin-left: 40px;
}